<div>
  <nav> 
    <div>
      <img src="" alt="logo">
    </div>
    <ul>
      <li><a href="/visited">Visited</a></li>
      <li><a href="/wishlist">Wishlist</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
  </nav>
</div>
<div id="form" >
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="post">

    <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label> Nationality</label>
    <select name="nationality" id="nationality">
      {{#each nationalities}}  <!-- nationalities is an array of strings -->
        <option value="{{this.name}}">{{this.name}}</option>
      {{/each}}
    </select>

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>