<div>Statistics - Countries visited</div>
<br>
<a href="/statistics/visited">Visited</a> <span> | </span> <a href="/statistics/wishlist">Wishlist</a>
<br>
<img src="" alt="Location-Sensitive map">
<p>Some introductions</p>
<button>Download</button>
<button>Share on social media</button>