<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mt-5">About Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>User Guide</h3>
        </div>
        <div class="card-body">
          <p>Welcome to Countries Tracker, the perfect tool to record all the countries you have been and want to visit!</p>
          <p>To use the app, simply create an account and start adding the countries you have visited and the ones you want to visit.</p>
          <p>If you need any help, don't hesitate to contact us through the contact form on our website.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Developers Introduction</h3>
        </div>
        <div class="card-body">
          <p>We are Lynn and Wilkins, developers of Countries Tracker. We created this app as a project for Ironhack bootcamp.</p>
          <p>We are passionate about traveling and wanted to create a tool to help others keep track of their travels and plan their future trips.</p>
          <p>If you have any suggestions or feedback about the app, we would love to hear from you. You can reach us through our individual email addresses:</p>
          <ul>
            <li>Lynn: lynn@countries-tracker.com</li>
            <li>Wilkins: wilkins@countries-tracker.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
