<div class="user-profile-container">
    <div class="user-profile-title">User Profile</div>
    <div class="user-profile-detail">Username: {{userInSession.username}}</div>
    <div class="user-profile-detail">Nationality: {{userInSession.nationality}}</div>
    <div class="user-profile-detail">Email: {{userInSession.email}}</div>
</div>