<div>Visited</div>
<br />
<img src="" alt="A world map records all countries you have been" />
<p>Some introductions</p>
<div id="map-container">
    <div id="chartdiv"></div>
    <div id="map-visiter-pointer">
        <div>Country of departure: <span id="country-departure"></span></div>
        <button id="country-departure-confirm">Confirm</button>
        <div>Country of arrival: <span id="country-arrival"></span></div>
        <button id="country-arrival-confirm">Confirm</button>
        <br>
        <button>Record this Journey</button>
    </div>
</div>
<button>Download</button>
<button>Share on social media</button>

{{!-- <script src="/js/script.js"></script>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="//cdn.amcharts.com/lib/5/plugins/exporting.js"></script>
<script src="/js/map.js"></script> --}}


<script src="//cdn.amcharts.com/lib/5/index.js"></script>
<script src="//cdn.amcharts.com/lib/5/map.js"></script>
<script src="//cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="//cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<div id="chartdiv"></div>
<script src="/js/map-line-series.js"></script>



