body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#mapDiv {
  width: 500px;
  height: 350px
}
#chartdiv {
  width: 1000px;
  height: 500px
}

#map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}