<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav> 
      <div>
        <img src="" alt="logo">
      </div>
      <ul>
        <li><a href="/visited">Visited</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/userprofile">User Profile</a></li>
      </ul>
      <form action="/logout" method="post">
        <button>Logout</button>
      </form>
    </nav>
    <hr>
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>